@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-color: linear-gradient(to bottom left,#216e93,#21648a,#1f5881,#172d5b,#191c51);
    --text-color: white;
    --nav-color: #181745;
    --second-text-color: #e6526d;
    --third-text-color: #8c8ba6;
}

body {
    line-height: 24px;
}

.wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    background: var(--bg-color);
}

.sidebar {
    max-width: 25%;
    background: var(--nav-color);
}

.sidebar h2 {
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
    padding: 50px 20px;
    width: 100%;
}

.sidebar ul li {
    margin-bottom: 25px;
    padding: 0px 25px 10px;
    font-weight: 500;
    position: relative;
    width: 100%;
    letter-spacing: 2px;
    cursor: pointer;
    overflow: hidden;
    transition: all .40s ease;
}

.sidebar ul li p {
    color: var(--third-text-color);
    position: relative;
    font-weight: 300;
    height: 35px;
    line-height: 35px;
}

.sidebar ul li::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    background: #20c997;
}

.sidebar ul li:last-child {
    margin-bottom: 0;
}

.sidebar ul li.active p {
    color: #fff;
}

.sidebar ul li.active::before {
    height: 100%;
}

.sidebar ul li p:hover {
    color: #fff;
}

.content {
    width: 100%;
    padding: 30px 20px;
    background: rgb(35, 41, 87);
    position: relative;
    overflow: hidden;
}

.content .header {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}

.item.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

@media screen and (max-width: 800px) {
    .item.dashboard {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }
}

.chartBox {
    width: 80%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(255, 26, 104, 1);
    background: white;
}

.item-info {
    display: grid;
    grid-template-columns: auto auto;
    width:300px; 
    height:300px;
    gap: 50px;
}

.date {
    display: flex;
    justify-content: space-between;
}

.date ul{
    background: hsla(0,0%,100%,.13);
    display: flex;
    justify-content: space-between;
    width: 300px;
    border-radius: 50px;
    margin-bottom: 40px;
}

.date ul li p{
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 5px;
    padding: 5px 20px;
    border-radius: 50px;
}

.date ul li.active p{
    background: var(--nav-color);
}

.date p {
    color: #fff;

}




